<h1>Editing entry</h1>

<% form_for(@entry) do |f| %>
  <%= f.error_messages %>

<p>
  <b>Folder ID:</b>
  <%= f.text_field :folder_id%>
</p>


  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>


  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @entry %> |
<%= link_to 'Back', entries_path %>
