<h1>Editing entry</h1>

<% form_for(@entry) do |f| %>
  <%= f.error_messages %>


  <p>
    <%= f.label :folder %><br />
    <%= f.text_field :folder %>
  </p>

  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>

  <p>
    <%= f.label :attachment %><br />
    <%= f.text_field :attachment %>
  </p>

  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @entry %> |
<%= link_to 'Back', entries_path %>