<%= login_link %>

<h1>Listing entries</h1>

<table>
  <tr>

    <th>Date</th>
    <th>Title</th>
    <th>Verse</th>
    <th>Tags</th>
    <th>Description</th>

    <th># of Attachments</th>

    <th>Folder ID</th>

  </tr>

<% @entries.each do |entry| %>
  <tr>

    <td>
      <% if entry.entry_date %>
      <%=h entry.entry_date.strftime("%m/%d/%y") %>
      <% end %>
    </td>
    <td><%=h entry.title %></td>
    <td><%=h entry.verse %></td>
    <td><%=h entry.tags %></td>
    <td><%=h entry.description %></td>

    <td><%=h entry.attachments.size %></td>
    
    <% if entry.folder.nil? %>
    <td></td>
    <% else %>
    <td><%=h entry.folder.name %></td>
    <% end %>

    <% if admin? %>
    <td><%= link_to 'Show', entry %></td>
    <td><%= link_to 'Edit', edit_entry_path(entry) %></td>
    <td><%= link_to 'Destroy', entry, :confirm => 'Are you sure?', :method => :delete %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />
