<h1>New entry</h1>

<link href='/stylesheets/jquery-custom.css' rel='stylesheet' type='text/css'> 
<script type='text/javascript' src='/javascripts/jquery-ui.custom.min.js'> </script>
<script> 
	$(function() {
		$( "#datepicker" ).datepicker();
	});
</script> 
<% form_for(@entry) do |f| %>
  <%= f.error_messages %>


  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :entry_date %><br />
    <%= f.text_field :entry_date, :id => "datepicker" %>
  </p>

  <p>
    <%= f.label :verse %><br />
    <%= f.text_field :verse %>
  </p>
  <p>
    <%= f.label :tags %><br />
    <%= f.text_field :tags %>
  </p>

  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>

  <p>
    Folder<br />
    <%= f.select :folder_id, @folders, :include_blank => true %>
  </p>

  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', request.referer %>
