
<p>
  <b>Title:</b>
  <%=h @entry.title %>
</p>

<p>
  <b>Folder ID:</b>
  <%=h @entry.folder_id%>
</p>


<p>
  <b>Description:</b>
  <%=h @entry.description %>
</p>


<p>
  <b># of Attachment:</b>
  <%=h @entry.attachments.size %>
</p>

<% if @entry.attachments.size > 0 %>
<p>
  <b>Attachments:</b>
  <% @entry.attachments.each do |a| %>
    <br />  <%=h a.object_content_type %> - <%=link_to a.name, a.object.url %>
  <% end %>
</p>


<% end %>



<%= link_to 'Edit', edit_entry_path(@entry) %> |
<%= link_to 'Back', entries_path %>
