
<p>
  <b>Title:</b>
  <%=h @entry.title %>
</p>


<p>
  <b>Description:</b>
  <%=h @entry.description %>
</p>


<p>
  <b># of Attachment:</b>
  <%=h @entry.attachments.size %>
</p>



<%= link_to 'Edit', edit_entry_path(@entry) %> |
<%= link_to 'Back', entries_path %>
