
<p>
  <b>Title:</b>
  <%=h @entry.title %>
</p>

<p>
  <b>Date:</b>
  <% if @entry.entry_date %>
  <%=h @entry.entry_date.strftime("%m/%d/%y") %>
  <% end %>
</p>

<p>
  <b>Verse:</b>
  <%=h @entry.verse %>
</p>
<p>
  <b>Tags:</b>
  <%=h @entry.tags %>
</p>


<p>
  <b>Folder ID:</b>
  <%=h @entry.folder_id%>
</p>


<p>
  <b>Description:</b>
  <%=h @entry.description %>
</p>


<p>
  <b># of Attachment:</b>
  <%=h @entry.attachments.size %>
</p>

<% if @entry.attachments.size > 0 %>
<p>
  <b>Attachments:</b>
  <% @entry.attachments.each do |a| %>
    <br />  <%=h a.object_content_type %> - <%=link_to a.name, a.object.url %>
  <% end %>
</p>


<% end %>


<% if admin? %>
<%= link_to 'Edit', edit_entry_path(@entry) %> |
<% end %>
<%= link_to 'Back', entries_path %>
