
<p>
  <b>Folder:</b>
  <%=h @entry.folder %>
</p>


<p>
  <b>Title:</b>
  <%=h @entry.title %>
</p>


<p>
  <b>Description:</b>
  <%=h @entry.description %>
</p>


<p>
  <b>Attachment:</b>
  <%=h @entry.attachment %>
</p>



<%= link_to 'Edit', edit_entry_path(@entry) %> |
<%= link_to 'Back', entries_path %>