<% if @new %>
<h1>New folder</h1>
<% else %>
<h1>Editing folder</h1>
<% end %>

<%= login_link %>
<% form_for(@folder) do |f| %>	
<%= f.error_messages %>

<table id='show-view-table' cellpadding="0" cellspacing="0" border="0">
</tbody>
  <tr class="odd">
    <th class="ui-state-default"> Name </th>
    <td><%= f.text_field :name %></td>
  </tr>
  <tr class="even">
    <th class="ui-state-default" width="50px"> Folder Type </th>
    <td><%= f.select :folder_type, get_folder_type_selection_object %></td>
  </tr>
  <tr class="odd">
    <th class="ui-state-default" width="50px"> Description </th>
    <td> <%= f.text_area :description %></td>
  </tr>
  </tbody>
</table>

  <p>
    <% if @new %>
    <%= f.submit 'Create' %>
    <% else %>
    <%= f.submit 'Update' %>
    <% end %>

  </p>
<% end %>

<% if @new.nil? %>
<%= link_to 'Show', @folder %> |
<% end %>
<%= link_to 'Back', request.referer %>
