
<p>
  <b>Name:</b>
  <%=h @folder.name %>
</p>

<p>
  <b>Type:</b>
  <%=h get_folder_type_string @folder.folder_type %>
</p>


<p>
  <b>Description:</b>
  <%=h @folder.description %>
</p>


<% if @folder.entries.size > 0 %>
<p>
  <b>Entries:</b>
  <% @folder.entries.each do |e| %>
    <br />  <%=h e.title %>
  <% end %>
</p>


<% end %>



<%= link_to 'Edit', edit_folder_path(@folder) %> |
<%= link_to 'Back', folders_path %>
