<h1>New attachment</h1>

<% form_for @attachment, :html => { :multipart => true } do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :type %><br />
    <%= f.text_field :type %>
  </p>

  <p>
    <%= f.label :size %><br />
    <%= f.text_field :size %>
  </p>

  <p>
    <%= f.label :date %><br />
    <%= f.date_select :date %>
  </p>

  <p>
    <%= f.label :file %><br />
    <%= f.text_field :file %>
  </p>
  <p>
    <%= f.label :object %><br />
    <%= f.file_field :object %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', attachments_path %>
