<%= login_link %>
<h1> Resources </h1>

<table id='show-view-table' cellpadding="0" cellspacing="0" border="0">
</tbody>

  <tr class="odd">
    <th class="ui-state-default"> Choose File </th>
    <td><p>
	<% form_for @attachment, :html => { :multipart => true } do |f| %>
  <%= render "/layouts/swfupload_form" %>
  <div id="swfupload_degraded_container">
  <%= f.label :object %><br />
  <%= f.file_field :object %> <br />
  <%= f.submit 'Create' %>
  </div>
  <% end %>
</p></td>
  </tr>
  <tr class="even">
    <th class="ui-state-default" width="50px"> Add to Entry</th>
    <td>  	<% form_for @attachment, :html => { :multipart => true } do |f| %>
	<%= f.select :entry_id, @entries, :include_blank => true %>
	<% end %>
	</td>
  </tr>
  </tbody>
</table>
<%= link_to 'Back to list', resources_path %>
