<h1>New attachment</h1>
<% form_for @attachment, :html => { :multipart => true } do |f| %>
<p>
  Add to Entry:<br />
  <%= f.select :entry_id, @entries, :include_blank => true %>
</p>
<p>
  <%= render "/layouts/swfupload_form" %>
  <div id="swfupload_degraded_container">
  <%= f.label :object %><br />
  <%= f.file_field :object %> <br />
  <%= f.submit 'Create' %>
  </div>
</p>
<% end %>

<%= link_to 'Back', request.referer %>
