<%= render "/layouts/datatable_setup2" %>
<table class='display datatable' cellpadding="0" cellspacing="0" border="0">
  <thead>
    <tr>
      <th>Date</th>
      <th>Title</th>
      <th>Verse</th>
      <th>Tags</th>
      <th>Series</th>
      <% if admin? %>
      <th>Files</th>
      <th class="ui-state-default admin-column">Admin</th>
      <% else %>
      <th>Files</th>
      <% end %>
    </tr>
  </thead>
  <tbody class="items">
    <% @entries.each do |entry| %>
    <tr>
      <% if entry.tags.include? "Small Group" %>
        <% if entry.entry_date %>
        <td><%= entry.entry_date.strftime("%m/%d/%y") %></td>
        <% else %>
        <td>&nbsp;</td>
        <% end %>
        <td><%= link_to entry.title, entry%></td>
        <td><%=h entry.verse %></td>
        <td><%=h entry.tags %></td>
        <% if entry.folder.nil? %>
        <td></td>
        <% else %>
        <td><%= link_to entry.folder.name, entry.folder%></td>
        <% end %>
        <td><%= fetch_attachments(entry) %></td>
        <% if admin? %>
        <td> <%= link_to image_tag("datatable/edit.png", :size => "20x20"), edit_entry_path(entry), :title => "edit" %>
  	<%= link_to image_tag("datatable/delete.png", :size=> "20x20"), entry, :confirm => 'Are you sure?', :method => :delete, :title => "delete"%></td>
        <% end %>
      <% end %>
    </tr>
    <% end %>
  </tbody>
  <tbody> 
    <tr> 
      <th class="ui-state-default"></th> 
      <th class="ui-state-default"><input type="text" name="search_title" value="filter title" class="search_init" /></th> 
      <th class="ui-state-default"><input type="text" name="search_verse" value="filter verse" class="search_init" /></th> 
      <th class="ui-state-default"><input type="text" name="search_tags" value="filter tags" class="search_init" /></th> 
      <th class="ui-state-default"><input type="text" name="search_series" value="filter series" class="search_init" /></th> 
      <% if admin? %>
      <th class="ui-state-default"><input type="text" name="search_attachments" value="filter filetype" class="search_init" /></th> 
      <th class="ui-state-default"></th>
      <% else %>
      <th class="ui-state-default"><input type="text" name="search_attachments" value="Filter filetype" class="search_init" /></th> 
      <% end %>
    </tr> 
  </tbody> 
</table>
<br />