<% if edit == true %>
<form action="/events/register" method="post">
<input type="hidden" name="eid" value="<%= @event.id %>">
<% if !@reg.nil? %>
<input type="hidden" name="rid" value="<%= @reg.id %>">
<% end %>
<% end %>
<table id='show-view-table' cellpadding="0" cellspacing="0" border="0">
 <tr>
  <th colspan="2" class="ui-widget-header ui-corner-top">
    <%= @event.name %>
  </th>
 </tr>
 <tr>
   <th class="ui-state-default"> Date</th>
   <th class="ui-state-default"> <%= get_short_time(@event.start_time.getlocal, @event.end_time.getlocal) %> </th>
 </tr>
 <tr>
   <th class="ui-state-default"> Location</th>
   <th class="ui-state-default"> <%= @event.location %>  </th>
 </tr>
 <% if !@reg.nil? %>
 <tr>
  <th colspan="2" class="ui-widget-header">
    Registration Info
  </th>
 </tr>
 <tr>
   <th class="ui-state-default"> Registration ID</th>
   <th class="ui-state-default"> <%= @reg.id%>
   </th>
 </tr>
 <tr>
   <th class="ui-state-default"> Password</th>
   <th class="ui-state-default"> <%= @reg.password%>
   </th>
 </tr>
<% end %>
<% if @reg.nil? %>
<% @reg = Registration.new %>
<% end %>

 <tr>
  <th colspan="2" class="ui-widget-header">
    Register 
  </th>
 </tr>
 <tr>
   <th class="ui-state-default"> Full Name</th>
   <th class="ui-state-default"> <%= reg_form_value_field(edit, @reg.fullname, "input", "reg[fullname]") %>
     
   </th>
 <tr>
 <tr>
   <th class="ui-state-default"> Email</th>
   <th class="ui-state-default"> <%= reg_form_value_field(edit, @reg.email, "input", "reg[email]") %>
     
   </th>
 <tr>

 <tr>
   <th class="ui-state-default"> Phone Number </th>
   <th class="ui-state-default"> <%= reg_form_value_field(edit, @reg.phone, "input", "reg[phone]") %>
     
   </th>
 <tr>
 <tr>
   <th class="ui-state-default"> Address </th>
   <th class="ui-state-default"> <%= reg_form_value_field(edit, @reg.address, "textarea", "reg[address]") %>
     
   </th>
 <tr>

 <tr>
   <th class="ui-state-default"> Home Church </th>
   <th class="ui-state-default"> <%= reg_form_value_field(edit, @reg.church, "input", "reg[church]") %>
     
   </th>
 <tr>

 <tr>
   <th class="ui-state-default"> Guests? </th>
   <th class="ui-state-default"> <%= reg_form_value_field(edit, @reg.guests, "dropdown", "reg[guests]") %>
   </th>
 <tr>
 <tr>
   <th class="ui-state-default"> Guest Names</th>
   <th class="ui-state-default"> <%= reg_form_value_field(edit, @reg.guests_names, "textarea", "reg[guests_names]") %>
     
   </th>
 <tr>
 <tr>
   <th class="ui-state-default"> Guest Relationship 
   <th class="ui-state-default"> <%= reg_form_value_field(edit, @reg.guests_relation, "textarea", "reg[guests_relation]") %>
   </th>
 <tr>

<% if !@reg.id.nil? %>
 <tr>
  <th colspan="2" class="ui-widget-header">
    Payment 
  </th>
 </tr>

 <tr>
   <th class="ui-state-default"> Payment Status</th>
   <th class="ui-state-default"> 
     <% if @reg.paid == 0 %>
     Not paid in full (Payment status is usually updated within 48 hours of payment)
     <% else %>
     Paid in full, Thank you!
     <% end %>
   </th>
 <tr>

<% if @reg.paid == 0 %>
<%if @event.paypal != "" %>
 <tr>  
  <th class="ui-state-default">
    Paypal
  </th>
  <th class="ui-state-default">
	<%= @event.paypal %>

  </th>
 </tr>
 <%end%>
 <tr>
  <th class="ui-state-default">
    Check or Cash
  </th>
  <th class="ui-state-default">
   Please mail payment to church address (940 SOUTH STELLING ROAD, CUPERTINO, CA 95014) or turn it in during church service or small groups.
  </th>
</tr>
<% end %>
<% end %>
 <tr>
  <th colspan="2" class="ui-widget-header ui-corner-bottom" style="text-align:right">
    <% if edit == true %>
    <input type='submit' value='submit'>
    <% end %>
    <%= link_to 'Return to events', events_path %>
  </th>
 </tr>

</table>
<% if edit == true %>
</form>
<% end %>



