<h1> Events </h1>
<form action="/events/backend" method="post">
<table id='show-view-table' cellpadding="0" cellspacing="0" border="0">
 <tr>
  <th colspan="2" class="ui-widget-header ui-corner-tl ui-corner-tr">
    Event List
  </th>
 </tr>
 <tr>
   <th class="ui-state-default"> Title</th> 
   <th class="ui-state-default"> Reigsterable? </th>
 <tr>

 <% count = 0 %>
 <% @upcoming_events.each do |event| %>
 <% if count % 2 == 0 %>
 <tr class="odd">
 <% else %>
 <tr class="even">
 <% end %>
 <% count += 1 %>
   <td> <%= event.name %></td> 
   <td> 
     <INPUT TYPE=CHECKBOX NAME="checkbox[<%= event.id %>]" <%= event.reg ? "CHECKED" : "" %> >
     <% if event.reg %>
     | <a href="/events/<%= event.id %>/registrants">registrants</a>
     <% end %>
   </td>
 </tr>
 <% if event.reg %>
 <% if count % 2 == 0 %>
 <tr class="odd">
 <% else %>
 <tr class="even">
 <% end %>
 	<td>PayPal Link</td>
 	<td>
 		<textarea rows="6" cols="40" name="paypal[<%= event.id %>]"><%= event.paypal %></textarea>
	</td>
 </tr>
  <% end %>
  <% end %>
  <tr>
    <th colspan="2" class="ui-widget-header ui-corner-bottom">
      <input type="submit" value="submit">
      <input type="hidden" name="checkbox['hidden']">
      <input type="hidden" name="paypal['hidden']">
    </th>
</tr>
</table>
</form>
<%= link_to 'Back', events_path %>
