<h1>Editing event</h1>

<% if flash[:notice] -%> <div id="notice"><%= flash[:notice] %></div>
<% end -%>

<% form_for(@event) do |f| %>
  <%= f.error_messages %>
  <p>
    Password: <br />
    <%= text_field "auth", "pass" %>
  </p>
  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :location %><br />
    <%= f.text_field :location %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </p>
  <p>
    <%= f.label :page %><br />
    <%= f.text_area :page %>
  </p>
  <p>
    <%= f.label :startdate %><br />
    <%= f.datetime_select :startdate %>
  </p>
  <p>
    <%= f.submit 'Update' %> 
  </p>
<% end %>

<%= link_to 'Show', @event %> |
<%= link_to 'Back', events_path %>
