<div id="login-link">
<% if flash[:notice] -%> <div id="notice"><%= flash[:notice] %></div>
<% end -%>
<% if admin? %>
<%= link_to 'New event', new_event_path %> |  <%= link_to 'Logout', logout_path %>
<% else %>
<%= link_to 'Login', login_path %> to add/edit events.
<% end %>
</div>


<h1>Upcoming Events</h1>
<div id="events_list_container">
  <hr />
  <% @events.each do |event| %>
  <div class="event_item">
    <div class="event_image"> 
      <%= image_tag('noimgthumb.png', :size => "100x100") %>
    </div>
    <% if admin? %>
    <div class="event_admin">
      <%= link_to 'Edit', edit_event_path(event) %> / <%= link_to 'Destroy', event, :confirm => 'Are you sure?', :method => :delete %>
    </div>
    <% end %>
    <div class="event_options">
      options
    </div>
    <div class="event_title">
      <%= link_to event.title, event %>
    </div>
    <div class="event_time_location">
      <span class="event_time"><%=h event.startdate.strftime("%a, %b %d, %Y %I:%M %p") %></span> |
	  <span class="event_location"><%=h event.location %></span>
    </div>
    <div class="event_description">
      <%=h event.description %>
    </div>
  </div>
  <hr />
  <% end %>
</div>





