<!-- <div id="login-link"> -->
<!--   <% if flash[:notice] -%> <div id="notice"><%= flash[:notice] %></div> -->
<!--   <% end -%> -->
<!--   <% if admin? %> -->
<!--   <%= link_to 'New event', new_event_path %> |  <%= link_to 'Logout', logout_path %> -->
<!--   <% else %> -->
<!--   <%= link_to 'Login', login_path %> to add/edit events. -->
<!--   <% end %> -->
<!-- </div> -->


<h1>Events</h1>
<div id="events_list_container">
  <strong>Upcoming:</strong>
  <hr />
  <% @upcoming_events.each do |event| %>
    <%= event_list_block(event); %>
  <% end %>
<br />

<div id="past_events_container">
<strong>Past:</strong>
<br />
<hr />
  <% @past_events.each do |event| %>
    <%= event_list_block(event); %>
  <% end %>
</div>
</div>

<br />





