<p>
  <b>Title:</b>
  <%=h @event.title %>
</p>

<p>
  <b>Location:</b>
  <%=h @event.location %>
</p>

<p>
  <b>Description:</b>
  <%=h @event.description %>
</p>

<p>
  <b>Page:</b>
  <%=h @event.page %>
</p>

<p>
  <b>Startdate:</b>
  <%=h @event.startdate %>
</p>


<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
