<p>
  <h1><%=h @event.title %></h1>
</p>
  <b>Time:</b>
  <%=h @event.startdate.strftime("%a, %b %d, %Y %I:%M %p") %>
  <br />
  <b>Location:</b>
  <%=h @event.location %>

<p>
  <b>Description:</b>
  <%=h @event.description %>
</p>

<p><%= @event.page %></p>

<% if admin? %>
<%= link_to 'Edit', edit_event_path(@event) %> |
<% end %>
<%= link_to 'Back', events_path %>
