<h1>Listing resources</h1>

<table>
  <tr>

    <th>Name</th>

    <th>Size</th>

    <th>Type</th>

    <th>File</th>

  </tr>

<% @resources.each do |resource| %>
  <tr>

    <td><%=h resource.name %></td>

    <td><%=h resource.size %></td>

    <td><%=h resource.type %></td>

    <td><%=h resource.file %></td>

    <td><%= link_to 'Show', resource %></td>
    <td><%= link_to 'Edit', edit_resource_path(resource) %></td>
    <td><%= link_to 'Destroy', resource, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New resource', new_resource_path %>