
<p>
  <b>Name:</b>
  <%=h @resource.name %>
</p>


<p>
  <b>Size:</b>
  <%=h @resource.size %>
</p>


<p>
  <b>Type:</b>
  <%=h @resource.type %>
</p>


<p>
  <b>File:</b>
  <%=h @resource.file %>
</p>



<%= link_to 'Edit', edit_resource_path(@resource) %> |
<%= link_to 'Back', resources_path %>