%h1 Staff
.subsection-navigation
  %a{:href => subsection_path(:section => "about_us", :subsection => "welcome")} Welcome from the Pastor
  \/
  %a{:href => subsection_path(:section => "about_us", :subsection => "what_to_expect")} What to Expect
  \/
  %a{:href => subsection_path(:section => "about_us", :subsection => "vision_&_values")} Vision & Values
  \/
  %a{:href => subsection_path(:section => "about_us", :subsection => "our_beliefs")} Our Beliefs
  \/
  %a{:href => subsection_path(:section => "about_us", :subsection => "staff")} Staff


%p
  = image_tag('joseph.jpg', :class => :right)

  Joseph Chiu | lead pastor
  joseph@gschristian.org

%p
  What part of your ministry are you most excited about right now?
  To nurture a loving community where God's love, the Bible, and prayers are changing people's life
  To intimately involve in people's life and have the opportunity to walk together in faith

%p
  What would you do if you weren't on staff?
  Become an inventor in technology, a researcher in economy, or an entrepreneur in business
  Fulfill childhood dream of becoming a professional Bridge player

%p
  What is one prayer you have for the young adults you encounter?
  Pray they'd go back to the Bible and truly fall in love with the Author, and have the full conviction to pass on the Good News of Jesus to their and the next generation

%p
  What is one goal you have for yourself?
  Be an example to young people for how an ordinary person can serve God in his own special way

%p
  = image_tag('joseph.jpg', :class => :right)
Peter Wang | community development pastor
peter@gschristian.orgThis e-mail address is being protected from spam bots, you need JavaScript enabled to view it

Pastor Peter

What do you do in a typical day at work?

Meet and discuss with people about how things (relationship, career, spiritual and etc.) are going,
Read, meditate and pray in preparation for sermon and teaching
Read ESPN articles and debate with congregation members on IM about which college football team is best
Meet with pastoral staff to pray and strategize ministry programs that help people grow


What part of your ministry are you most excited about right now?

Setting up the organizational leadership culture to impact the community
Influencing and ushering the young people to become mature citizens and disciples of Jesus


Where could people most find you when you're not at church?
Playing ultimate with lots of high tech engineers or early retired multi-millionaires
During winter time, skiing at Heavenly
During football season, watching and hosting parties for CAL


What would you do if you weren't on staff?
Community college professor
Non-profit CEO
if I don't have to kill people - a general

%p
= image_tag('joseph.jpg', :class => :right)

Jane Chiu | connections ministry
jane@gschristian.orgThis e-mail address is being protected from spam bots, you need JavaScript enabled to view it

What part of your ministry are you most excited about right now?
I am most passionate about seeing young people develop into leaders who will build healthy families, compassionate communities, and a God-fearing generation.


Where could people most find you when you're not at church?
I believe we should always be continually growing and learning humbly, so I love listening to people and observing the world around me over a cup of coffee. When I'm not fortunate enough to be in a colorful cafe with good company, you will find me at church or home praying, studying, spending time on the computer, or watching netflix movies with Joseph.

What would you do if you weren't on staff?
I also love all things related to  design, so if I were not on staff, I would have been a landscape artist. As I watch my children grow older and become independent individuals, my next goal will be to become a wise and loving grandmother some day.

%p
= image_tag('joseph.jpg', :class => :right)

Ann Lo | children's ministry
ann@gschristian.orgThis e-mail address is being protected from spam bots, you need JavaScript enabled to view it

What part of your ministry are you most excited about right now?
It's a thrill when I hear the preschoolers ask spiritual questions like "Where is heaven?" or "Can I see God?" I love seeing God stir their hearts at even this young age to know him more.

Where could people most find you when you're not at church?
Walking around the neighborhood with my daughter while she tries to push her own stroller. Or maybe in the kitchen reading recipes. Once in a while I actually try cooking them.

What would you do if you weren't on staff?
Since I am a volunteer staff, one of my "day jobs" is being a marriage and family therapist. It's such a privilege to hear people's stories and be invited to help them on their life journey. If I could try on a random job for a day, maybe I'd be a contestant on a reality show like "The Apprentice" - I love to organize projects.

What is one prayer you have for your generation?
To truly know Jesus Christ, and find significance, fulfillment, and life purpose in serving him.

%p
= image_tag('joseph.jpg', :class => :right)

Joni Cheah | worship director
joni@gschristian.orgThis e-mail address is being protected from spam bots, you need JavaScript enabled to view it

What do you do in a typical day at work?
light candles, turn on reflective music and spend some time in prayer/meditation
scribble potential ideas for worship services all over scratch paper
write dozens of emails to worship team staff, leaders or congregation members come up with a new Facebook status update
change around chairs, tablecloths, and candles in the sanctuary

Where could people most find you when you're not at church?
at my voice studio teaching singing, at home doing seminary homework, or hanging out with friends for dinners or late night chats

What is one goal you have for yourself?
For the last few years, I have wanted to become proficient with either guitar, drums, or gospel-style piano.

%p
= image_tag('joseph.jpg', :class => :right)

Ben Wu | office manager
ben@gschristian.orgThis e-mail address is being protected from spam bots, you need JavaScript enabled to view it
What do you do in a typical day at work?
Manage paperwork...lots and lots of paperwork. Also, I create the multimedia presentations used during our worship services, and try to make sure all the tech runs smoothly (which it never does).

Where could people most find you when you're not at church?
Watching hockey, or spending time with my lovely girlfriend, Sandy.

What would you do if you weren't on staff?
Ideally, indie rock icon or GM of the San Jose Sharks. Realistically, part-time library clerk.

What is one prayer you have for your generation?
To turn away from the self-centered, image-driven nature of our society, and find true fulfillment in serving God and loving people.

