<script type='text/javascript' src='/javascripts/swfupload/swfupload.js'> </script>
<script type='text/javascript' src='/javascripts/swfupload/swfupload.swfobject.js'> </script>
<script type='text/javascript' src='/javascripts/swfupload/handlers.js'> </script>
<link href='/stylesheets/swfupload.css' rel='stylesheet' type='text/css'> 
<% session_key_name = ActionController::Base.session_options[:key] %>

    <div id="mp3info"></div>
    <div id="swfupload_container", style="display: none">
      <span id="spanButtonPlaceholder"></span>
    </div>
    <div id="divFileProgressContainer"></div>

<script type="text/javascript">
  SWFUpload.onload = function() {
    var swf_settings = {

      // SWFObject settings
      minimum_flash_version: "9.0.28",
      swfupload_pre_load_handler: function() {
        $('#swfupload_degraded_container').hide();
        $('#swfupload_container').show();
      },
      swfupload_load_failed_handler: function() {
      },

      post_params: {
        "<%= session_key_name %>": "<%= cookies[session_key_name] %>",
        "authenticity_token": "<%= form_authenticity_token %>",
        <% if @entry %>
        "entry_id" : "<%= @entry.id %>"
	<% end %>
      },

      //upload_url: "#{songs_path}?#{session_key_name}="+encodeURIComponent("#{cookies[session_key_name]}")+"&authenticity_token="+encodeURIComponent("#{form_authenticity_token}"),
      upload_url: "<%= attachments_path %>",
      flash_url: '/flash/swfupload/swfupload.swf',

      file_types: "*",

      button_placeholder_id: "spanButtonPlaceholder",
      button_width: 380,
      button_height: 32,
      button_text : '<span class="button">Select Files <span class="buttonSmall">(20 MB Max)</span></span>',
      button_text_style : '.button { font-family: Helvetica, Arial, sans-serif; font-size: 24pt; } .buttonSmall { font-size: 18pt; }',
      button_text_top_padding: 0,
      button_text_left_padding: 18,
      button_window_mode: SWFUpload.WINDOW_MODE.TRANSPARENT,
      button_cursor: SWFUpload.CURSOR.HAND,
      file_queue_error_handler : fileQueueError,
      file_dialog_complete_handler : fileDialogComplete,
      upload_progress_handler : uploadProgress,
      upload_error_handler : uploadError,
      upload_success_handler : uploadSuccess,
      upload_complete_handler : uploadComplete,

      custom_settings : {
        upload_target: "divFileProgressContainer"
      }
    }
    var swf_upload = new SWFUpload(swf_settings);
  };
</script>
