!!!
%html
  %head
    %link{:rel => "shortcut icon", :href => "/favicon.ico", :type => "image/x-icon"}/
    %title
      Good Shepherd Christian Community - 
      = page_title
    /Blueprint CSS
    %link{:rel => "stylesheet",
          :href => "/stylesheets/blueprint/screen.css",
          :type => "text/css",
          :media => "screen, projection"}
    %link{:rel => "stylesheet",
          :href => "/stylesheets/blueprint/print.css",
          :type => "text/css",
          :media => "print"}
    /[if lt IE 8]
      <link rel="stylesheet" href="/stylesheets/blueprint/ie.css" type="text/css" media="screen, projection">
    %link{:rel => "stylesheet",
          :href => "/stylesheets/blueprint/plugins/buttons/screen.css",
          :type => "text/css",
          :media => "screen, projection"}
    %link{:rel => "stylesheet",
          :href => "/stylesheets/blueprint/plugins/fancy-type/screen.css",
          :type => "text/css",
          :media => "screen, projection"}
    %link{:rel => "stylesheet",
          :href => "/stylesheets/application.css",
          :type => "text/css"}
    %script{:src => "/javascripts/jquery-1.4.2.min.js",
          :type => "text/javascript"}

  %body{:class => params[:action] == 'frontpage' ? 'frontpage' : 'interior'}
    #header
      .container
        %address
          %strong Good Shepherd Christian Community
          \/
          940 South Stelling Road, Cupertino, Ca 95014 /
          408-253-5152

        %a.map-button{:href => 'http://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=940+S+Stelling+Rd,+Cupertino,+CA+95014&sll=37.0625,-95.677068&sspn=60.158465,134.912109&ie=UTF8&z=17&iwloc=A',
                      :target =>'_blank'}
          map &amp; directions
    #outer-container.container
      #content.span-18.last= yield
      #sidebar.span-6
        %ul#navigation
          %li.home
            %a{:href => root_path()} Home
          =navigation_item('about_us')
          =navigation_item('connect')
          =navigation_item('events')
          =navigation_item('serve')
          =navigation_item('resources')

        %h3.upcoming-events 
        %ul.upcoming-events.vcalendar
          - @upcoming_events.each do |e|
            %li.vevent
              = upcoming_events_block(e)
      
    .container
      #footer.span-24.last
        .span-5.append-1.contact
          %h3 We would love to hear from you!
          %p
            %a{:href => 'mailto:welcome@gschristian.org'} welcome@gschristian.org
          %address
            940 S Stelling Rd<br />
            Cupertino, CA 95014<br />
            408-253-5152<br />

        .span-6
          %ul
            %li
              = link_to('Home', root_path)
            %li
              = link_to('About Us', section_path('about_us'))
              %ul
                - static_pages()['About Us'].each do |subsection|
                  = li_link_to(subsection, subsection_path('about_us', subsection.dehumanize))

        .span-6
          %ul
            %li
              %a{:href => section_path('connect')}
                Connect
              %ul
                - static_pages()['Connect'].each do |subsection|
                  = li_link_to(subsection, subsection_path('connect', subsection.dehumanize))

          %ul
            %li
              %a{:href => section_path('serve')}
                Serve
              %ul
                - static_pages()['Serve'].each do |subsection|
                  = li_link_to(subsection, subsection_path('serve', subsection.dehumanize))
        .span-6.last
          %ul
            %li
              %a{:href => section_path('give')}
                Give
              %ul
                - static_pages()['Give'].each do |subsection|
                  = li_link_to(subsection, subsection_path('give', subsection.dehumanize))
            %li
              %a{:href => section_path('resources')}
                Resources
              %ul
                - static_pages()['Resources'].each do |subsection|
                  = li_link_to(subsection, subsection_path('resources', subsection.dehumanize))
      .span-24.last
        %p#copyright.incr
          &copy;2010 Good Shepherd Christian Community &lt;3
